---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../constants/app';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1 class="text-center">Code To The Moon</h1>
      <p class="text-center">Welcome to Code To The Moon Website!</p>
      <div class="text-center">
        <a href="/timer" class="bg-indigo-700 text-white px-4 py-3 rounded-lg hover:text-white">Go to timer</a>
      </div>
    </main>
    <Footer />
  </body>
</html>
