---
import Time from '../components/Time';
import TimerLayout from '../layouts/TimerLayout.astro';
import { getTitleStore } from '../stores/titleStore';
---

<TimerLayout title={getTitleStore()}>
  <main class="w-full h-full">
    <Time client:only="react" />
  </main>
</TimerLayout>

<style></style>
