.css-13cymwt-control,
.css-t3ipsp-control {
  background-color: #e5e7eb !important;
  border: none !important;
  height: 44px;
  outline: none !important;
  box-shadow: none !important;
  min-width: 320px;
}

.css-qbdosj-Input {
  color: #4b5563 !important;
}

.css-b62m3t-container:focus-visible {
  outline: none !important;
}