/* Font REGULAR */
@font-face {
  font-family: 'Antonio';
  src: url('/fonts/Antonio/Antonio-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo/Arimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cousine';
  src: url('/fonts/Cousine/Cousine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DS_Digital';
  src: url('/fonts/DS_Digital/Ds_Digital-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital_7';
  src: url('/fonts/Digital_7/digital-7-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB_Garamond';
  src: url('/fonts/EB_Garamond/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Foldit';
  src: url('/fonts/Foldit/Foldit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Mono';
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans';
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto_Sans_Mono';
  src: url('/fonts/Noto_Sans_Mono/NotoSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radio_Canada';
  src: url('/fonts/Radio_Canada/RadioCanada-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red_Hat_Mono';
  src: url('/fonts/Red_Hat_Mono/RedHatMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Mono';
  src: url('/fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Font BOLD */
@font-face {
  font-family: 'Antonio';
  src: url('/fonts/Antonio/Antonio-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo/Arimo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cousine';
  src: url('/fonts/Cousine/Cousine-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DS_Digital';
  src: url('/fonts/DS_Digital/Ds_Digital-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Digital_7';
  src: url('/fonts/Digital_7/digital-7-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EB_Garamond';
  src: url('/fonts/EB_Garamond/EBGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Foldit';
  src: url('/fonts/Foldit/Foldit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet/Handjet-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Mono';
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans';
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto_Sans_Mono';
  src: url('/fonts/Noto_Sans_Mono/NotoSansMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Radio_Canada';
  src: url('/fonts/Radio_Canada/RadioCanada-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Red_Hat_Mono';
  src: url('/fonts/Red_Hat_Mono/RedHatMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Mono';
  src: url('/fonts/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

.font-antonio {
  font-family: 'Antonio', 'system-ui', 'sans-serif';
}

.font-arimo {
  font-family: 'Arimo', 'system-ui', 'sans-serif';
}

.font-cousine {
  font-family: 'Cousine', 'system-ui', 'sans-serif';
}

.font-ds_digital {
  font-family: 'DS_Digital', 'system-ui', 'sans-serif';
}

.font-digital_7 {
  font-family: 'Digital_7', 'system-ui', 'sans-serif';
}

.font-eb_garamond {
  font-family: 'EB_Garamond', 'system-ui', 'sans-serif';
}

.font-foldit {
  font-family: 'Foldit', 'system-ui', 'sans-serif';
}

.font-handjet {
  font-family: 'Handjet', 'system-ui', 'sans-serif';
}

.font-ibm_plex_mono {
  font-family: 'IBM_Plex_Mono', 'system-ui', 'sans-serif';
}

.font-ibm_plex_sans {
  font-family: 'IBM_Plex_Sans', 'system-ui', 'sans-serif';
}

.font-noto_sans_mono {
  font-family: 'Noto_Sans_Mono', 'system-ui', 'sans-serif';
}

.font-radio_canada {
  font-family: 'Radio_Canada', 'system-ui', 'sans-serif';
}

.font-red_hat_mono {
  font-family: 'Red_Hat_Mono', 'system-ui', 'sans-serif';
}

.font-roboto {
  font-family: 'Roboto', 'system-ui', 'sans-serif';
}

.font-roboto_mono {
  font-family: 'Roboto_Mono', 'system-ui', 'sans-serif';
}

.text-justify {
  text-justify: inter-character;
}

.text-last-justify {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.sr_only {
  visibility: hidden;
  opacity: 0;
}